<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Pacientes</h1>
    <ul>
        {% for paciente in pacientes %}
            <li>
                <strong>Nome:</strong> {{ paciente.nome}}<br>
                <strong>CPF:</strong>{{paciente.cpf}}<br>
                <strong>Data de Nascimento:</strong> {{ paciente.data_nascimento }}<br>
                <strong>Sexo:</strong> {{ paciente.sexo }}<br>
                <strong>Telefone:</strong> {{ paciente.telefone }}<br>
                <strong>Email:</strong> {{ paciente.email }}
            

            </li>
            <form action="{% url 'deletar_paciente' paciente.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar este paciente?')">Deletar</button>
            </form>

            <form action="{% url 'editar_paciente' paciente.id %}">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Deseja editar as informações do paciente?')">Editar</button>
            </form>
            <hr>
        {% endfor %}
    </ul>  
    <div>
        <a href="{% url 'cadastrar_paciente' %}">Cadastro de Paciente</a>
    </div>
    <div>
        <a href="{% url 'criar_exame' %}">Criar Exame</a>
    </div>
    <div>
        <a href="{% url 'criar_tipo_exame' %}">Criar Tipo Exame</a>
    </div>
    <div>
        <a href="{% url 'criar_consulta' %}">Criar Consulta</a>
    </div>
</body>
</html>